.right-text i {
    width: 15px;
    margin-right: 20px;
}

.fav-img {
    width: 30px;
    margin-right: 20px;
}

.middle-img img {
    margin-top: 80px;
}

.c-progress-bar__filler {
    height: 100%;
}

.a-progress-bar {
    width: 0;
}

.t-primary-bg, .t-primary-color-line {
    background: #A43F49;
}

.o-content__body, .o-content__body :last-child {
    margin-bottom: 0;
}

.a-progress-bar.in-view {
    transition: width 1.4s ease-in-out .5s;
}

hr, .t-border-color-bg {
    background: #ececec;
}

.u-mt-text {
    margin-top: 0.55rem;
}

.c-progress-bar {
    position: relative;
    height: 5px;
}

.o-content__body, .o-content__body :last-child {
    margin-bottom: 0;
}

.c-progress-bar {
    margin-bottom: 0.55rem;
}

.o-media {
    min-height: 5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.o-media--block>.o-media__figure {
    margin-left: 0;
    margin-right: 0;
    width: 2.8rem;
}

.o-media__figure {
    margin-right: 1rem;
}

.t-primary-color, .t-primary-color-line {
    color: #A43F49;
}

.c-number {
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
}

.inline-div {
    width: 96% !important;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=ease-in-out-back], body[data-aos-easing=ease-in-out-back] [data-aos] {
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
}

[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}

[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos=fade-up] {
    transform: translate3d(0, 100px, 0);
}


.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #A43F49;
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #A43F49;
    border: 2px solid #A43F49;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #A43F49;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #ffffff;
    border: 2px solid #A43F49;
}

.special {
    font-size: 16px;
    background: #A43F49;
    padding: 2px 5px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.highlight {
    margin-left: 5px;
    font-weight: bolder;
}

body {
    color: #ffffff;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

a {
    color: #A43F49;
}

a:hover {
    color: #ffffff;
}

p{
    text-align: justify;
    padding: 5px;
}

#menu p{
    text-align: center;
}